.progress{
    width: 179px;
    height: 7px;
    
}
.progress-bar{
    /* width: 25%; */
    height: 10px;
    /* background-color: #4AC526; */
}
.progresstitle{
    text-align: left;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 100;
    color: #212121;
}